*.jks
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/.tags
/.tags1
/script/node/watch/node_modules/
/keystore.jks
/.vscode/
/.settings/
/sample/.settings/
/app/.settings/
/app/build/
.project
app/.classpath
app/.project
